<div>
    {{#if (isCandidate status)}}
    <div id="embded-report-status-container">
    <div><span>Candidate Report</span></div>
    <div>
        The information in this report generated from candidate tests.
        Candidate aria-at tests are in review by assistive technology
        developer and lack consensus regarding:
        <ol>
            <li>applicability and validity of the tests, and</li>
            <li>accuracy of test results.</li>
        </ol>
    </div>
    </div>
    {{/if}}
    <table id="embed-report-table">
        <thead>
            <tr>
                <td></td>
                {{#each reportsByBrowser}}
                <th>{{@key}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each reportsByBrowser}}
                {{#each this}}
                <tr>
                    <th><b>{{this.at.name}}</b></th>
                    {{#if (isInAllBrowsers "Chrome" @../../this)}}
                        {{#if (isBrowser this.browser.name "Chrome") }}
                        <td><span classname="progress50"></span><b>{{this.metrics.supportPercent}}%</b> of passing assertions</b></td>
                        {{else}}
                        <td>None</td>
                        {{/if}} 
                    {{/if}} 
                    {{#if (isInAllBrowsers "Safari" @../../this)}}
                        {{#if (isBrowser this.browser.name "Safari") }}
                        <td><span classname="progress50"></span><b>{{this.metrics.supportPercent}}%</b> of passing assertions</b></td>
                        {{else}}
                        <td>None</td>
                        {{/if}} 
                    {{/if}} 
                    {{#if (isInAllBrowsers "Firefox" @../../this)}}
                        {{#if (isBrowser this.browser.name "Firefox") }}
                        <td><span classname="progress50"></span><b>{{this.metrics.supportPercent}}%</b> of passing assertions</b></td>
                        {{else}}
                        <td>None</td>
                        {{/if}} 
                    {{/if}}          
                </tr>
                {{/each}}
            {{/each}}
        </tbody>
    </table>

    <div classname="embed-button-row">
        <button>View Complete Report</button>
        <button>Embed</button>
    </div>
</div>