<!-- Based on https://github.com/w3c/aria-at/blob/master/scripts/review-template.mustache -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Test plan review for pattern: {{pattern}}</title>
  <style>
    table {
      border-collapse: collapse;
      margin-bottom: 1em;
    }

    table, td, th {
      border: 1px solid black;
    }

    td {
      padding: .5em;
    }

  </style>
  <script type="module">
    function numberTests(value) {
      let testNumber = 0;
      let titleTextChanged = false;
      let buttonTextChanged = false;

      for (let result of document.querySelectorAll(value)) {
        result.style.display = 'block';

        if (titleTextChanged && buttonTextChanged) {
          testNumber += 1;

          titleTextChanged = false;
          buttonTextChanged = false;
        }

        if (result.nodeName === 'H2') {
          result.innerText = result.innerText.replace(/^Test\s\d+:/g, `Test ${testNumber + 1}:`);
          titleTextChanged = true;
        }

        if (result.nodeName === 'BUTTON') {
          result.value = `Open Test ${testNumber + 1} Page`;
          result.innerText = `Open Test ${testNumber + 1} Page`;
          buttonTextChanged = true;
        }
      }

      let reviewPageTitle = document.querySelector('h1');
      reviewPageTitle.innerText = reviewPageTitle.innerText.replace(/\(\d+\stest(s|)\)/g, `(${testNumber} test${testNumber !== 1 ? 's': ''})`);
    }

    window.filterATs = function(button) {
      const val = button.value;

      if (val === 'all') {
        for (let at of document.querySelectorAll('input')) {
          if (at.value !== 'all') {
            for (let result of document.querySelectorAll(`.${at.value}`)) {
              result.style.display = 'block';
            }
            at.checked = false;
          }
          else {
            at.checked = true;
          }
        }
        numberTests('.nvda, .jaws, .voiceover_macos');
      }
      else {
        for (let at of document.querySelectorAll('input')) {

          if (at.value === val) {
            at.checked = true;
          }
          else {
            at.checked = false;
          }

          for (let result of document.querySelectorAll(`.${at.value}`)) {
            result.style.display = 'none';
          }
        }
        numberTests(`.${val}`);
      }
    };

    var scripts = {
      {{{setupScripts}}}
    };

    window.openTestPage = function(pageUri, testNumber, setupScriptName) {
      var openTestPageElement = document.getElementById('open-test-page-' + testNumber);

      var testWindow = new TestWindow({
        pageUri,
        setupScriptName,
        scripts,
        hooks: {
          windowOpened() {
            openTestPageElement.disabled = true;
          },
          windowClosed() {
            openTestPageElement.disabled = false;
          }
        }
      });
      testWindow.open();
    };
  </script>
</head>
<body>

<h1>Test plan review for pattern: {{pattern}} ({{arrayLength tests}} tests)</h1>
<h2>Version created on: {{commitDate}}</h2>
<p class="commit-message"><b>Summary of commit:</b></p>
{{{commitMessage}}}

<fieldset>
  <legend>Filter tests by assistive technology</legend>
  <input type="radio" onclick="filterATs(this)" id="all" value="all" checked><label for="all">All assistive technologies</label>
  {{#each ats}}
    <input type="radio" onclick="filterATs(this)" id="{{key}}" value="{{key}}"><label for="{{key}}">{{name}}</label>
  {{/each}}
</fieldset>

{{#each tests}}
  <h2 class="{{formatArrayJoinSeparator allRelevantAts " "}}">Test {{testNumber}}: {{{name}}}</h2>
  <ul class="{{formatArrayJoinSeparator allRelevantAts " "}}">
    <li>Mode: {{mode}}</li>
    <li>Applies to: {{formatArrayJoinSeparator allRelevantAts ", "}}</li>
<!--    TODO: Implement easier method to show a copy of the TestRenderer from the aria-at-app-->
<!--    <li>Tests:-->
<!--      <ul>-->
<!--        {{#each allRelevantAts}}-->
<!--          <li><a href="../tests{{{location}}}?at={{{this}}}">{{{this}}}</a></li>-->
<!--        {{/each}}-->
<!--      </ul>-->
<!--    </li>-->
    <li>Relevant Specifications:
      <ul>
        {{#each helpLinks}}
          <li><a href="{{link}}">{{text}}</a></li>
        {{/each}}
      </ul>
    </li>
  </ul>

  <button id="open-test-page-{{testNumber}}" class="{{formatArrayJoinSeparator allRelevantAts " "}}"
          onclick="openTestPage('{{reference}}', {{testNumber}}, '{{setupScriptName}}');">Open Test {{testNumber}} Page</button>

  {{#each atTests}}
    <div class="{{atKey}}">
      <h3>{{atName}}</h3>
      {{#if setupScriptDescription}}
        <h4>Scripted Instructions</h4>
        The following instructions are executed by a script in the test page to initialize the widget:
        <ol>
          <li>{{setupScriptDescription}}</li>
        </ol>
      {{/if}}
      <h4>Tester Instructions</h4>
      <ol>
        <li>{{modeInstruction}}</li>
        <li>{{userInstruction}} using the following commands:
          <ul>
            {{#each commands}}
              <li>{{this}}</li>
            {{/each}}
            {{#unless commands}}
              <li>No commands have been added for this test for {{atName}}. Add commands, or, update the "applies_to" to list only the relevant assistive technologies.</li>
            {{/unless}}
          </ul>
        </li>
      </ol>
      <h4>Assertions</h4>
      <table>
        <tr><th>Priority</th><th>Assertion</th></tr>
        {{#each assertions}}
          <tr><td>{{priority}}</td><td>{{description}}</td></tr>
        {{/each}}
        {{#unless assertions}}
          <tr><td colspan="2">No assertions have been listed for {{atName}}. Add assertion or update the "applies_to" to list only the relevant assistive technologies.</td></tr>
        {{/unless}}
      </table>
    </div>
  {{/each}}
{{/each}}

</body>
</html>
